extends layout

block content

    // Presentation
    .presentation-container
      .container
        .row
          .col-sm-12.wow.fadeInLeftBig
            h1
              | We are
              span.violet Couple
              | , a super cool design agency.
            p We design beautiful websites, logos and prints. Your project is safe with us.
    // Services
    .services-container
      .container
        .row
          .col-sm-3
          .col-sm-2
            .service.wow.fadeInUp
              img(src="assets/img/jaejeon.jpg").image-us
              h3 Jaejeon Koo
              p
                | 개발, 기획
                |
                |
                | jaejeon
          .col-sm-2
          .col-sm-2
            .service.wow.fadeInDown
              img(src="assets/img/yoonsun.jpg").image-us
              h3 Yoonsun Jung
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...

          .col-sm-3

    // Footer
    footer
      .container
        .row
          .col-sm-3.footer-box.wow.fadeInUp

          .col-sm-3.footer-box.wow.fadeInDown

          .col-sm-3.footer-box.wow.fadeInUp

          .col-sm-3.footer-box.wow.fadeInDown
            h4 Contact Us
            .footer-box-text.footer-box-text-contact
              p
                i.fa.fa-envelope
                | Jaejeon&nbsp:&nbsp
                a(href='#') jaejeon9@gmail.com
              p
                i.fa.fa-envelope
                | Yoonsun&nbsp:&nbsp
                a(href='#') smartys6964@gmail.com
        .row
          .col-sm-12.wow.fadeIn
            .footer-border
    // Javascript
    script(src='assets/js/jquery-1.11.1.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/js/bootstrap-hover-dropdown.min.js')
    script(src='assets/js/jquery.backstretch.min.js')
    script(src='assets/js/wow.min.js')
    script(src='assets/js/retina-1.1.0.min.js')
    script(src='assets/js/jquery.magnific-popup.min.js')
    script(src='assets/flexslider/jquery.flexslider-min.js')
    script(src='assets/js/jflickrfeed.min.js')
    script(src='assets/js/masonry.pkgd.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=true')
    script(src='assets/js/jquery.ui.map.min.js')
    script(src='assets/js/scripts.js')
