extends layout

block content
    .service.wow.fadeInUp.animated
        #kCalendar
    #result-panel
    script(src='assets/js/jquery-1.11.1.min.js')
    script(src='assets/js/calendar.js')
    script.
        window.onload = function () {
            kCalendar('kCalendar');
        };


