doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title GreenKiwi
        // CSS
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/earlyaccess/nanumgothic.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
        link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/css/animate.css')
        link(rel='stylesheet', href='assets/css/magnific-popup.css')
        link(rel='stylesheet', href='assets/flexslider/flexslider.css')
        link(rel='stylesheet', href='assets/css/form-elements.css')
        link(rel='stylesheet', href='assets/css/style.css')
        link(rel='stylesheet', href='assets/css/media-queries.css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        // Favicon and touch icons
        link(rel='shortcut icon', href='assets/ico/favicon.ico')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
        link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
    body
        // Top menu
        nav.navbar(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#top-navbar-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href='/')
                        img#brand-logo(src='assets/img/logo.png')
                // Collect the nav links, forms, and other content for toggling
                #top-navbar-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.dropdown-toggle(href='/')
                                i.fa.fa-search
                                br
                                | 실시간 이슈

                        li
                            a(href='/history')
                                i.fa.fa-history
                                br
                                | 히스토리
                        li
                            a(href='/about')
                                i.fa.fa-user
                                br
                                | About

        block content